<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jairaj.janglegmail.motioneye">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:banner="@drawable/motion_eye_banner"
        android:icon="@mipmap/me_adp_ic"
        android:label="Motion Eye"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:roundIcon="@mipmap/me_adp_ic_round">

        <activity android:name=".LegalDocShow"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Help_FAQ"
            android:label="Help and FAQ"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Add_Cam"
            android:label="Camera List"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".add_device_detail"
            android:label="Add Device"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".loading_screen"
            android:label="Motion Eye">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loading_screen_tv"
            android:label="Motion Eye">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web_motion_eye"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_motion_eye"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".About_Page"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/PreferenceScreen"/>
    </application>

</manifest>